PORT=5001
CLIENT_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:3001,http://localhost:4201
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=facility_management
DATABASE_USER=root
DATABASE_PASSWORD=